<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Steps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7987A9831F50C0EA005D9652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7987A99A1F50C0EA005D9652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7987A9A51F50C0EA005D9652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
